# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @emosbaugh @jnummelin @juanluisvaladas @kke @makhov @ncopa @ricardomaraschini @twz123 @cheftako @mcrute @anfernee @andrewsykim @caesarxuchao @apedriza 
